<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
  </disabledAdministrativeMonitors>
  <version>2.180</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.10">
      <owner class="hudson" reference="../../.."/>
      <name>esdm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>esdm</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_20453</id>
          <name>responce time graph</name>
          <iframeSource>http://localhost:8081/view/esdm/job/esdm/performance/respondingTimeGraph</iframeSource>
          <effectiveUrl>http://localhost:8081/view/esdm/job/esdm/performance/respondingTimeGraph</effectiveUrl>
          <divStyle>width:100%;height:250px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_7313</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://localhost:8081/view/esdm/job/esdm/performance/errorsGraph</iframeSource>
          <effectiveUrl>http://localhost:8081/view/esdm/job/esdm/performance/errorsGraph</effectiveUrl>
          <divStyle>width:100%;height:250px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_18415</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_20219</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_17311</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://localhost:8081/job/esdm/plot/getPlot?index=0&amp;width=750&amp;height=450</iframeSource>
          <effectiveUrl>http://localhost:8081/job/esdm/plot/getPlot?index=0&amp;width=750&amp;height=450</effectiveUrl>
          <divStyle>width:750px;height:500px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
        <hudson.plugins.view.dashboard.test.TestTrendChart>
          <id>dashboard_portlet_18209</id>
          <name>Test Trend Chart</name>
          <graphWidth>300</graphWidth>
          <graphHeight>220</graphHeight>
          <dateRange>0</dateRange>
          <dateShift>0</dateShift>
          <displayStatus>ALL</displayStatus>
        </hudson.plugins.view.dashboard.test.TestTrendChart>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.10">
      <owner class="hudson" reference="../../.."/>
      <name>ior</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>ior</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets>
        <hudson.plugins.view.dashboard.core.JobsPortlet>
          <id>dashboard_portlet_3376</id>
          <name>Jobs Grid</name>
          <columnCount>3</columnCount>
          <fillColumnFirst>false</fillColumnFirst>
        </hudson.plugins.view.dashboard.core.JobsPortlet>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_29282</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://localhost:8081/job/ior/plot/ior/getPlot?index=0&amp;width=750&amp;height=450</iframeSource>
          <effectiveUrl>http://localhost:8081/job/ior/plot/ior/getPlot?index=0&amp;width=750&amp;height=450</effectiveUrl>
          <divStyle>width:750;height:500px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_13837</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://localhost:8081/job/ior/plot/mdtest/getPlot?index=0&amp;width=750&amp;height=450</iframeSource>
          <effectiveUrl>http://localhost:8081/job/ior/plot/mdtest/getPlot?index=0&amp;width=750&amp;height=450</effectiveUrl>
          <divStyle>width:750;height:500px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_11403</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://localhost:8081/job/ior/plot/mdtest/getPlot?index=1&amp;width=750&amp;height=450</iframeSource>
          <effectiveUrl>http://localhost:8081/job/ior/plot/mdtest/getPlot?index=1&amp;width=750&amp;height=450</effectiveUrl>
          <divStyle>width:750;height:500px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_8762</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://localhost:8081/job/ior/plot/mdtest/getPlot?index=2&amp;width=750&amp;height=450</iframeSource>
          <effectiveUrl>http://localhost:8081/job/ior/plot/mdtest/getPlot?index=2&amp;width=750&amp;height=450</effectiveUrl>
          <divStyle>width:750;height:500px;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_28690</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>